$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: #f4f4f4;
$dark-color: rgb(67, 15, 15);
$middle-color: #aaaaaa;
$font-fat: bold;
$color-display: rgb(247, 129, 198);
$color: rgb(10, 111, 10);
$link-active: red;
$font-stack: Arial, Helvetica, sans-serif;
$font-color: #fff;